.courseStuff, .calendarStuff, .lowerPanelNav, .footerStuff { margin:0; }
.courseInfo { 
    position:$main-position;
    left:40px;
    font-weight:300;
    color:#969595;

    h2 { 
        font-weight:300; 
        font-size:4.2rem;
        padding-top:10px;
    }

    h3 { 
        font-weight:300; 
        margin-bottom:15px;

        i {
            margin-right:10px;
            cursor:$main-cursor;
        }
    }

    hr { 
        max-width: 205px; 
        margin-left:0;
    }
}

hr { border-color: #ccc; }

.calendarStuff hr { margin-top:0; }

.weeklySched {
    position:$main-position;
    left:40px;
    color:#969595;
    margin-top:30px;
    margin-bottom:30px;

    > ul { margin-bottom:0; }
}

.lowerPanelNav {
    font-size:1.8rem;

    li { 
        margin-right:60px; 
        cursor: pointer;

        :last-child { 
            margin-right:0;
        }
    }
}

.bottomCalendar { position:$main-position; left:40px; }
.dayMarker { font-size:6rem; font-weight:700; position:$main-position; top:-20px; }

.dayBox {
    background-color:#eaeaea; 
    color:#9b9b9b; 
    width:90%; 
    height:275px;

    .dayBox i {
        font-size:3rem;
    
        i:last-child {
            position:$main-position; 
            top:-30px;
        }
    }    
}

table {
    color:#a4a9ae;

    th {
        padding-bottom:20px; 
        font-size:1.5rem; color:#999; 
        background-color:transparent;

        :first-child {
            padding-left:30px;
        }
    }

    td {
        font-size:1.45rem;
        padding:10px 0;
    
        span {
            margin-left:12px;
            margin-right:6px; 
            font-size:1.85rem; 
            color:#ccc;
        }

        :first-child {
            padding-left:30px;
        }

        :nth-child(1) {
            margin-right:0;
        }

        :nth-child(2) {
            margin-right:0;
        }

        i {
            font-size:5rem;
        }
    }

    tr:nth-child(2n+1) { background-color:#f0f2f5; }
    tr:nth-child(2n+2) { background-color:#f6f8fa; }
   
}

.stretchCell { width:210px; }
.wideCell { width:30% ;}
.locked { color:red; }
.viewed { color:#a3cb7c; }
.notViewed { color:#d6b600; }
.fbActive { color:#666; }